
/*ヘッダとフッタを避ける*/
body {
  padding-top: 70px;
  padding-bottom: 60px;
}

/*modalをスクロール可能にする設定*/
.modal {
    overflow-y: auto;
	max-height: 100%;
}

/*モーダルの位置をセンターに*/
.modal-dialog-center {
  padding-top: 40%;
}

/*modal上でtimepickerを動かすための設定（必要）*/
.bootstrap-timepicker-widget{
	z-index: 1050!important;
}

/*ヘッダ*/
#header_navbar{
    padding-top: 16px;
}
#logo{
    color: dodgerblue;
	font-weight: bold;
}
#plus_btn{
    font-size: 12px;
}
#navbar_contents{
    padding: 10px 10px 0px;
}
/*フッタメニュー*/
#footer{
    color: #808080;
    border: 1px solid #dcdcdc;
    background-color: #f6f6f6;
}
.col-xs-3{   
    font-size: 11px;
    padding: 8px 0px;
}
#footer_row{
    font-weight: bold;
    text-align: center;
}
#footer_row span{
    font-size: 18px;
}
#menu_schedule{
    color: dodgerblue;
}
#footer_space{
    height: 40px;
}

/*ログインポップアップ*/
#login{
    padding: 10px;
}
#login_btn{
    color: white;
    background-color: #00aced;
    text-decoration: none;
}
/*コンテンツ*/
.loading-bar{
    color: gray;
    background-color: #f6f6f6;
    text-align: center;
    padding: 15px 0px;
    margin: 0px;
}
#contents{
    margin: 0px 10px;
}
/*設定ページ*/
.list-group-item{
    color: #333333;
}
.menu_title{
    background-color: #333333;
    color: white;
    font-weight: bold;
}

/*ローディング画像*/
#loading{
    position:absolute;
	left:50%;
	top:30%;
	margin-left:-20px;
    z-index: 1000;
}

/*イベント登録/編集モーダル*/
.date_input{
    font-size: 16px;
}
.date_determined{
	margin: 0px;
	vertical-align: middle;
}
.date_determined_label{
	font-weight: normal!important;
	margin: 0px;
	vertical-align: middle;
}
.time_input_group td{
}
.time_input_bar{
	width: 1em;
	padding-left: 10px;
	padding-right: 10px;
}
.time_input{
	font-size: 16px;
}
.start_time_input{
	font-size: 16px;
}
.title_input{
	font-size: 16px;
}
.text_input{
	font-size: 16px;
}

/*イベントリスト*/
.border{
    border-bottom: 1px solid lightgrey;
    clear: both;
}
.event{
    border-bottom: 1px solid lightgrey;
	padding-top: 5px;
	padding-bottom: 10px;
}
.event_date{
	font-size: 14px;
	color: #333333;
	font-weight: bold;
}
.event_title{
	font-size: 15px;
	color: #333333;
	font-weight: bold;
	text-decoration: underline;
}
.event_title_a:link{
	color: #333333;
}
.event_title_a:visited{
	color: #333333;
}
.event_text{
	font-size: 14px;
	word-wrap: break-word;
}
.rank{
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px dashed silver;
    margin-top: 5px;
}
.action_div{
	width: 55px;
} 
.share{
    color: gray;
	font-size: 12px;
	cursor:pointer;
}
.add{
	color: gray;
	cursor:pointer;
}
.fav{
    color: gray;
	cursor:pointer; 
}
.del{
	color: gray;
	cursor:pointer;
}
.edit{
	font-size: 12px;
	cursor:pointer;
}
.event_userinfo_icon{
	float: left;
}
.event_userinfo_name{
	cursor: pointer;
	float: left;
	padding-left: 5px;
}
.event_userinfo_username{
	font-size: 12px;
	font-weight: bold;
}
.event_userinfo_screenname{
	font-size: 12px;
	color: gray;
	line-height: 10px;
	display: block;
}
.event_userinfo_follow{
	text-align: right;
}
.event_userinfo_clear{
	clear: both;
	border-bottom: 1px dashed silver;
	height: 5px;
}

/*イベント単体表示*/
.list_title_icon{
    float: left;
}
.list_title_name{
	float: left;
	overflow: hidden;
}
.list_title_username{
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
	line-height: 14px;
}
.list_title_screenname{
	font-size: 12px;
	color: gray;
	margin-left: 5px;
	line-height: 5px;
}
.list_title_btn{
	float: right;
}
.list_title_clear{
	clear: both;
	padding-top: 5px;
	border: 0px;
}
#title_schedule{
	float: left;
}
#title_tweet_btn{
	float: right;
}
#event_participants{
    padding-top: 5px;
}

#num_participants{
	font-size: 12px;
	padding-top: 9px;
}
.participants_icon{
	float: left;
}
.participants_icon img{
	height: 32px;
}
.participants_name{
	cursor: pointer;
	float: left;
	padding-left: 5px;
}
.participants_username{
	font-size: 12px;
	font-weight: bold;
}
.participants_screenname{
	font-size: 12px;
	color: gray;
	line-height: 10px;
	display: block;
}
.participants_follow{
	text-align: right;
	font-size: 12px;
	line-height: 1.5;
}
#event_tweetbtn{
    padding-top: 8px;
	float: right;
}
.event_footer_clear{
	clear: both;
	border: 0px;
}

/*フォローページ*/

/*follow page*/
.follow{
    margin-top: 10px;
	margin-bottom: 5px;
}
.list_title_name{
	cursor:pointer;
}
.follow_li{
	float: left;
}
.follow_li_btn{
	float: right;
}
.follow_border{
	clear: both;
	width: 100%;
	border-bottom: 1px solid lightgrey;
    height: 10px;
}